<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="col-sm-4">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li>
                    <a href="#" data-scroll>
                        <span class="avatar">
                            <img src="<%= '/assets/' + @profile['avatar'] %>" width="128px">
                        </span>
                    </a>
                </li>
                <% @profile['experiences'].each_with_index do |experience, index| %>
                    <li>
                        <a href="#anch<%= index %>" data-scroll>
                            <% icon = experience['icon'] %>
                            <span class="fa <%= icon ? 'fa-' + icon['fontawesome_class'] : 'fa-bookmark' %> solo"><%= experience['organisation'] %></span>
                        </a>
                    </li>
                <% end %>
            </ul>
        </nav>
    </div>

    <!-- Page content -->
    <div id="page-content-wrapper" class="col-sm-8">
        <div class="content-header">
            <h1 id="home">
                <%= @profile['name'] %>
            </h1>
        </div>

        <div class="container">
            <ul class="timeline">
                <% @profile['experiences'].each_with_index do |experience, index| %>
                    <% if index.odd? %>
                        <li id="anch<%= index %>" class="timeline-inverted">
                    <% else %>
                        <li id="anch<%= index %>">
                    <% end %>
                        <% icon = experience['icon'] %>
                        <% if icon %>
                            <div class="timeline-badge <%= icon['bootstrap_state'] %>">
                                <i class="fa fa-<%= icon['fontawesome_class'] %>"></i>
                            </div>
                        <% else %>
                            <div class="timeline-badge">
                                <i class="fa fa-bookmark"></i>
                            </div>
                        <% end %>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><%= experience['organisation'] %></h4>
                                    <% if experience['start_date'] && experience['end_date'] %>
                                        <p>
                                            <small class="text-muted">
                                                <i class="glyphicon glyphicon-time"></i>
                                                <%= experience['start_date'] %> to <%= experience['end_date'] %>
                                            </small>
                                        </p>
                                    <% elsif experience['start_date'] && ! experience['end_date'] %>
                                        <p>
                                            <small class="text-muted">
                                                <i class="glyphicon glyphicon-time"></i>
                                                <%= experience['start_date'] %> to Current
                                            </small>
                                        </p>
                                    <% end %>
                            </div>
                            <div class="timeline-body">
                                <p><%= experience['description'] %></p>
                            </div>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>

    </div>

    <script type="text/javascript">

    /*Smooth link animation*/
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
    </script>